<div>

    <h4>MISIÓN</h4>
    <p>
        Responsable de detectar las necesidades de índole académico con el propósito de diseñar
        en forma coordinada con las instancias pertinentes de la Universidad, políticas institucionales
        en apoyo de la investigación, la docencia y la extensión, en beneficio de la institución, del
        estudiante, del personal académico y del entorno social.
    </p>
    <br>
<h4>VISIÓN</h4>
    <p>
        Ha generado las condiciones de calidad y pertinencia para el desarrollo de las funciones
        sustantivas de, docencia, investigación y extensión, a través de redes académicas consolidadas
        y de la operación del modelo educativo institucional, cubriendo las necesidades de su comunidad
        universitaria en el marco del contexto social.
    </p>
  </div>
